.data-grid {
  grid-template-columns: 48px 48px auto;

  @screen md {
    grid-template-columns: 48px 48px auto 112px;
  }

  @screen lg {
    grid-template-columns: 48px 48px auto 112px 112px;
  }
}
